<div id="routerDetailsDiv" class="w-75 p-3 m-3 border border-success">
    <h4 class="mb-3">Router List</h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sap Id</th>
            <th scope="col">Hostname</th>
            <th scope="col">Loopback</th>
            <th scope="col">Mac address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>123</td>
            <td>Home server</td>
            <td>0</td>
            <td>192.169.23.23</td>
            <td>
                <div>
                    <button type="button" class="btn btn-sm btn-primary">Update</button>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>456</td>
            <td>Work server</td>
            <td>1</td>
            <td>192.169.23.56</td>
            <td>
                <div>
                    <button type="button" class="btn btn-sm btn-primary">Update</button>
                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </td>
          </tr>                  
        </tbody>
      </table>
</div>